* {
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(110, 184, 184);
}

.hide {
  -webkit-text-security: circle;
}

.checkbox {
  cursor: pointer;
}

.btn-submit {
  padding: 10px 25px;
  cursor: pointer;
  background-color: darkslategrey;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: medium;
}

.btn-submit:hover {
  background-color: rgb(85, 141, 141);
  transition: 0.2s;
}

.mainForm {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  margin-top: 10px;
}

input {
  color: white;
  border-radius: 6px;
  background-color: rgb(85, 141, 141);
}

::placeholder {
  color: rgb(224, 216, 216);
}

.mainDiv {
  color: white;
  width: auto;
}

h4 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
